header {
    background-color: blueviolet;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

main {
    width: 90%;
}

.city-search {
    justify-content: left;
    float: left;

}

.weather-display {
    margin-right: 20px;
    padding: 20px;
    float: center;
    width: 20%;
    height: 100%;
    border-style: solid;
    border-radius: 2px;
    border-color: darkgray;
}

.five-days {
    justify-content: right;
    flex-wrap: wrap;
    background-color: rgb(59, 59, 189);
}